<template id="links">
	<section>
		<div class="links">
			<div class="links__group">
				<h4>%{home.links.getStarted}%</h4>
				<ul>
					<li>
						<a href="command:gitlens.getStarted" appearance="secondary">%{home.links.walkthrough}%</a>
					</li>
					<li>
						<a href="command:gitlens.showWelcomePage?%22quick-setup%22"
							appearance="secondary">%{home.links.quickSetup}%</a>
					</li>
					<li>
						<a href="command:gitlens.showSettingsPage"
							appearance="secondary">%{home.links.settingsEditor}%</a>
					</li>
					<li>
						<a href="command:gitlens.home.toggleWelcome">%{home.links.restoreWelcome}%</a>
					</li>
				</ul>
			</div>
			<div class="links__group">
				<h4>%{home.links.help}%</h4>
				<ul>
					<li>
						<i class="codicon codicon-book"></i>
						<a href="https://github.com/gitkraken/vscode-gitlens#readme">%{home.links.documentation}%</a>
					</li>
					<li>
						<i class="codicon codicon-comment-discussion"></i>
						<a href="https://github.com/gitkraken/vscode-gitlens/discussions">%{home.links.questions}%</a>
					</li>
					<li>
						<i class="codicon codicon-issues"></i>
						<a href="https://github.com/gitkraken/vscode-gitlens/issues">%{home.links.issues}%</a>
					</li>
					<li>
						<i class="codicon codicon-comment"></i>
						<a href="https://gitkraken.slack.com">%{home.links.slack}%</a>
					</li>
					<li>
						<i class="codicon codicon-twitter"></i>
						<a href="https://twitter.com/gitlens">%{home.links.twitter}%</a>
					</li>
				</ul>
			</div>
			<div class="links__group">
				<h4>%{home.links.resources}%</h4>
				<ul>
					<li><a href="https://gitlens.amod.io">%{home.links.website}%</a></li>
					<li><a href="https://gitlens.amod.io/#whats-new">%{home.links.whatsNew}%</a></li>
					<li>
						<a
							href="https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens">%{home.links.marketplace}%</a>
					</li>
					<li><a href="https://github.com/gitkraken/vscode-gitlens">%{home.links.github}%</a></li>
					<li><a
							href="https://github.com/gitkraken/vscode-gitlens/blob/main/LICENSE">%{home.links.license}%</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
</template>