<template id="links">
	<section>
		<div class="links">
			<div class="links__group">
				<h4>%{home.links.getStarted}%</h4>
				<ul>
					<li>
						<a href="command:gitlens.getStarted" appearance="secondary">%{home.links.walkthrough}%</a>
					</li>
					<li>
						<a href="command:gitlens.showWelcomePage?%22quick-setup%22"
							appearance="secondary">%{home.links.quickSetup}%</a>
					</li>
					<li>
						<a href="command:gitlens.showSettingsPage"
							appearance="secondary">%{home.links.settingsEditor}%</a>
					</li>
					<li>
						<a href="command:gitlens.home.toggleWelcome">%{home.links.restoreWelcome}%</a>
					</li>
				</ul>
			</div>
			<div class="links__group">
				<h4>%{home.links.common}%</h4>
				<ul>
					<li>
						<i class="codicon codicon-terminal-cmd"></i>
						<a href="command:gitlens.gitCommands">%{command.gitCommands.title}%</a>
					</li>
					<li>
						<i class="codicon codicon-history"></i>
						<a href="command:gitlens.showFileHistoryView">%{command.showFileHistoryView.title}%</a>
					</li>
					<li>
						<i class="codicon codicon-graph-line"></i>
						<a href="command:gitlens.showTimelinePage">%{command.showTimelinePage.title}%</a>
					</li>
					<li>
						<i class="codicon codicon-search"></i>
						<a href="command:gitlens.showSearchAndCompareView">%{command.showSearchAndCompareView.title}%</a>
					</li>
					<li>
						<i class="codicon codicon-source-control"></i>
						<a href="command:gitlens.showWorktreesView">%{command.showWorktreesView.title}%</a>
					</li>
					<li class="hidden">
						<i class="codicon codicon-archive"></i>
						<a href="command:gitlens.showStashesView">%{home.links.stashes}%</a>
						<span class="stash-badge" id="stash-indicator">0</span>
					</li>
				</ul>
			</div>
		</div>
	</section>
</template>
