<template id="state:free-preview">
	<section>
		<h3>%{home.preview.title}%</h3>
		<p>
			%{home.preview.description}%
		</p>
		<vscode-button data-action="command:gitlens.plus.loginOrSignUp">%{home.preview.signIn}%</vscode-button>
		<p>
			%{home.preview.upgradePrompt}%
		</p>
		<h3>%{home.preview.plusTitle}%</h3>
		<p>
			%{home.preview.plusDescription}%
		</p>
		<p>
			<i class="codicon codicon-info"></i>&nbsp;%{home.plus.info}%
		</p>
		<p style="margin-bottom: 1rem">%{home.preview.firstFeatures}%</p>
		<h4>%{home.preview.visualFileHistoryTitle}%</h4>
		<img class="image--preview" src="#{root}/images/docs/visual-file-history-hover.png"
			alt="%{home.preview.visualFileHistoryDescription}%" />
		<p class="feature-desc">
			%{home.preview.visualFileHistoryDescription}%
		</p>
		<h4>%{home.preview.worktreesTitle}%</h4>
		<img class="image--preview" src="#{root}/images/docs/worktrees-view.png"
			alt="%{home.preview.worktreesDescription}%" />
		<p class="feature-desc">
			%{home.preview.worktreesDescription}%
		</p>
	</section>
</template>