<template id="welcome">
	<section class="welcome">
		<h3>%{home.welcome.title}%</h3>
		<a class="link--preview" title="%{home.welcome.seeWhatsNew}%" href="command:gitlens.showWelcomePage">
			<img class="image--preview" src="#{webroot}/media/gitlens-12-card.png" alt="%{home.welcome.whatsNew}%" />
		</a>
		<p>
			%{home.welcome.description}%
		</p>
		<vscode-button data-action="command:gitlens.showWelcomePage">%{home.welcome.quickSetup}%</vscode-button>
		<vscode-button data-action="command:gitlens.getStarted">%{home.welcome.getStarted}%</vscode-button>
		<p>
			%{home.welcome.setupDescription}%
		</p>
		<vscode-button data-action="command:gitlens.home.toggleWelcome"
			appearance="secondary">%{home.welcome.dismiss}%</vscode-button>
	</section>
</template>