<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
</head>

<body class="preload" data-setting-name-template="%{settings.common.settingNameTemplate}%"
	data-filter-results-template="%{settings.header.filter.results}%">
	<!-- <canvas class="snow"></canvas>
		<img
			class="snow__trigger snow__trigger--fixed-right snow__trigger--flipped"
			title="Let it snow — Happy Holidays!"
			alt="Let it snow — Happy Holidays!"
			src="#{root}/images/snowman.png"
		/> -->

	<div class="container">
		<header>
			<a class="header__link" title="Learn more about GitLens" href="https://gitlens.amod.io">
				<div class="header__logo">
					<img class="image__logo" src="#{root}/images/gitlens-icon.png" />
					<div>
						<h1 class="header__title">Git<span class="header__title--highlight">Lens</span></h1>
						<p class="header__subtitle">Git supercharged</p>
					</div>
				</div>
			</a>
		</header>

		<div class="hero__area hero__area--sticky">
			<div class="hero__row">
				<h2 class="hero__title">%{settings.header.title}%</h2>
				<div class="hero__title-actions">
					<a href="#" data-action="collapse" title="Collapse all sections">%{settings.header.collapseAll}%</a>
					<a href="#" data-action="expand" class="hidden"
						title="Expand all sections">%{settings.header.expandAll}%</a>
				</div>
				<div class="hero__toolbar">
					<div class="hero__toolbar-search">
						<input id="settings-filter" type="search" placeholder="%{settings.header.filter.placeholder}%"
							title="%{settings.header.filter.placeholder}%" />
						<a href="#" id="settings-filter-clear" class="hidden">%{settings.header.filter.clear}%</a>
						<span id="settings-filter-count" class="hero__toolbar-search-count hidden"></span>
					</div>
					<div class="hero__toolbar-scope hidden">
						<label for="scopes">%{settings.header.saveSettingsTo}%</label>
						<div class="select-container">
							<select id="scopes" name="scope"></select>
						</div>
					</div>
				</div>
			</div>
			<p class="hero__subtitle">
				%{settings.header.advancedCustomizations.prefix}%
				<a title="See the GitLens settings docs"
					href="https://github.com/gitkraken/vscode-gitlens/#gitlens-settings-">%{settings.header.advancedCustomizations.docsLink}%</a>
				%{settings.header.advancedCustomizations.suffix}%
				<a class="command" title="Open User Settings"
					href="command:workbench.action.openGlobalSettings">%{settings.header.advancedCustomizations.userSettingsLink}%</a>
			</p>
		</div>

		<div class="content__area content__area--full-scroll">
			<div id="settings-filter-empty" class="settings-filter-empty hidden">
				%{settings.header.filter.empty}%
			</div>
			<!-- prettier-ignore -->
			<%= require('html-loader?{"esModule":false}!./partials/current-line.html') %>
				<%= require('html-loader?{"esModule":false}!./partials/code-lens.html') %>
					<%= require('html-loader?{"esModule":false}!./partials/status-bar.html') %>
						<%= require('html-loader?{"esModule":false}!./partials/hovers.html') %>
							<%= require('html-loader?{"esModule":false}!./partials/views.html') %>
								<%= require('html-loader?{"esModule":false}!./partials/views.commits.html') %>
									<%= require('html-loader?{"esModule":false}!./partials/views.repositories.html') %>
										<%= require('html-loader?{"esModule":false}!./partials/views.file-history.html')
											%>
											<%= require('html-loader?{"esModule":false}!./partials/views.line-history.html')
												%>
												<%= require('html-loader?{"esModule":false}!./partials/views.branches.html')
													%>
													<%= require('html-loader?{"esModule":false}!./partials/views.remotes.html')
														%>
														<%= require('html-loader?{"esModule":false}!./partials/views.stashes.html')
															%>
															<%= require('html-loader?{"esModule":false}!./partials/views.tags.html')
																%>
																<%= require('html-loader?{"esModule":false}!./partials/views.worktrees.html')
																	%>
																	<%= require('html-loader?{"esModule":false}!./partials/views.contributors.html')
																		%>
																		<%= require('html-loader?{"esModule":false}!./partials/views.searchAndCompare.html')
																			%>
																			<%= require('html-loader?{"esModule":false}!./partials/blame.html')
																				%>
																				<%= require('html-loader?{"esModule":false}!./partials/changes.html')
																					%>
																					<%= require('html-loader?{"esModule":false}!./partials/heatmap.html')
																						%>
																						<%= require('html-loader?{"esModule":false}!./partials/rebase-editor.html')
																							%>
																							<%= require('html-loader?{"esModule":false}!./partials/dates.html')
																								%>
																								<%= require('html-loader?{"esModule":false}!./partials/menus.html')
																									%>
																									<%= require('html-loader?{"esModule":false}!./partials/shortcuts.html')
																										%>
																										<%= require('html-loader?{"esModule":false}!./partials/modes.html')
																											%>
		</div>

		<div class="sidebar">
			<div class="sidebar__group">
				<h2>%{settings.sidebar.jumpTo}%</h2>
				<ul>
					<li>
						<a class="sidebar__jump-link" data-action="jump" href="#current-line"
							title="Jump to Current Line Blame settings">%{settings.sidebar.currentLine}%</a>
					</li>
					<li>
						<a class="sidebar__jump-link" data-action="jump" href="#code-lens"
							title="Jump to Git CodeLens settings">%{settings.sidebar.codeLens}%</a>
					</li>
					<li>
						<a class="sidebar__jump-link" data-action="jump" href="#status-bar"
							title="Jump to Status Bar Blame settings">%{settings.sidebar.statusBar}%</a>
					</li>
					<li>
						<a class="sidebar__jump-link" data-action="jump" href="#hovers"
							title="Jump to Hovers settings">%{settings.sidebar.hovers}%</a>
					</li>

					<li class="mt-1">
						<a class="sidebar__jump-link" data-action="jump" href="#views"
							title="Jump to Views settings">%{settings.sidebar.views}%</a>
					</li>
					<li>
						<a class="sidebar__jump-link" data-action="jump" href="#commits-view"
							title="Jump to Commits view settings">%{settings.sidebar.commitsView}%</a>
					</li>
					<li>
						<a class="sidebar__jump-link" data-action="jump" href="#repositories-view"
							title="Jump to Repositories view settings">%{settings.sidebar.repositoriesView}%</a>
					</li>
					<li>
						<a class="sidebar__jump-link" data-action="jump" href="#file-history-view"
							title="Jump to File History view settings">%{settings.sidebar.fileHistoryView}%</a>
					</li>
					<li>
						<a class="sidebar__jump-link" data-action="jump" href="#line-history-view"
							title="Jump to Line History view settings">%{settings.sidebar.lineHistoryView}%</a>
					</li>
					<li>
						<a class="sidebar__jump-link" data-action="jump" href="#branches-view"
							title="Jump to Branches view settings">%{settings.sidebar.branchesView}%</a>
					</li>
					<li>
						<a class="sidebar__jump-link" data-action="jump" href="#remotes-view"
							title="Jump to Remotes view settings">%{settings.sidebar.remotesView}%</a>
					</li>
					<li>
						<a class="sidebar__jump-link" data-action="jump" href="#stashes-view"
							title="Jump to Stashes view settings">%{settings.sidebar.stashesView}%</a>
					</li>
					<li>
						<a class="sidebar__jump-link" data-action="jump" href="#tags-view"
							title="Jump to Tags view settings">%{settings.sidebar.tagsView}%</a>
					</li>
					<li>
						<a class="sidebar__jump-link" data-action="jump" href="#worktrees-view"
							title="Jump to Worktrees view settings">%{settings.sidebar.worktreesView}%</a>
					</li>
					<li>
						<a class="sidebar__jump-link" data-action="jump" href="#contributors-view"
							title="Jump to Contributors view settings">%{settings.sidebar.contributorsView}%</a>
					</li>
					<li>
						<a class="sidebar__jump-link" data-action="jump" href="#search-compare-view"
							title="Jump to Search &amp; Compare view settings">%{settings.sidebar.searchAndCompareView}%</a>
					</li>

					<li class="mt-1">
						<a class="sidebar__jump-link" data-action="jump" href="#blame"
							title="Jump to Gutter Blame settings">%{settings.sidebar.gutterBlame}%</a>
					</li>
					<li>
						<a class="sidebar__jump-link" data-action="jump" href="#changes"
							title="Jump to Gutter Changes settings">%{settings.sidebar.gutterChanges}%</a>
					</li>
					<li>
						<a class="sidebar__jump-link" data-action="jump" href="#heatmap"
							title="Jump to Gutter Heatmap settings">%{settings.sidebar.gutterHeatmap}%</a>
					</li>

					<li class="mt-1">
						<a class="sidebar__jump-link" data-action="jump" href="#rebase-editor"
							title="Jump to Interactive Rebase Editor settings">%{settings.sidebar.rebaseEditor}%</a>
					</li>

					<li class="mt-1">
						<a class="sidebar__jump-link" data-action="jump" href="#dates"
							title="Jump to Dates & Times settings">%{settings.sidebar.datesAndTimes}%</a>
					</li>
					<li>
						<a class="sidebar__jump-link" data-action="jump" href="#menus"
							title="Jump to Menus & Toolbars settings">%{settings.sidebar.menusAndToolbars}%</a>
					</li>
					<li>
						<a class="sidebar__jump-link" data-action="jump" href="#shortcuts"
							title="Jump to Keyboard Shortcuts settings">%{settings.sidebar.keyboardShortcuts}%</a>
					</li>
					<li>
						<a class="sidebar__jump-link" data-action="jump" href="#modes"
							title="Jump to Modes settings">%{settings.sidebar.modes}%</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<a id="back-to-top" class="back-to-top" href="#" title="%{settings.backToTop}%">↑</a>

	#{endOfBody}
	<style nonce="#{cspNonce}">
		@font-face {
			font-family: 'codicon';
			src: url('#{webroot}/codicon.ttf?404cbc4fe3a64b9a93064eef76704c79') format('truetype');
		}
	</style>
</body>

<template id="token-popup">
	<h3 class="token-popup__title">%{settings.tokens.title}%</h3>
	<div class="token-popup__scroller">
		<table class="token-popup__table">
			<tbody>
				<tr>
					<td>%{settings.tokens.id.label}%</td>
					<td><span class="token" data-token="id">id</span></td>
				</tr>
				<tr>
					<td>%{settings.tokens.author.label}%</td>
					<td><span class="token" data-token="author">author</span></td>
				</tr>
				<tr>
					<td>%{settings.tokens.authorNotYou.label}%</td>
					<td><span class="token" data-token="authorNotYou">authorNotYou</span></td>
				</tr>
				<tr>
					<td>%{settings.tokens.email.label}%</td>
					<td><span class="token" data-token="email">email</span></td>
				</tr>
				<tr>
					<td>%{settings.tokens.message.label}%</td>
					<td><span class="token" data-token="message">message</span></td>
				</tr>
				<tr>
					<td>
						%{settings.tokens.ago.label}%<br />%{settings.tokens.ago.description}%
					</td>
					<td><span class="token" data-token="ago">ago</span></td>
				</tr>
				<tr>
					<td>
						%{settings.tokens.date.label}%<br />%{settings.tokens.date.description}%
					</td>
					<td><span class="token" data-token="date">date</span></td>
				</tr>
				<tr>
					<td>
						%{settings.tokens.agoOrDate.label}%<br />%{settings.tokens.agoOrDate.description}%
					</td>
					<td><span class="token" data-token="agoOrDate">agoOrDate</span></td>
				</tr>
				<tr>
					<td>
						%{settings.tokens.agoOrDateShort.label}%<br />%{settings.tokens.agoOrDateShort.description}%
					</td>
					<td><span class="token" data-token="agoOrDateShort">agoOrDateShort</span></td>
				</tr>
				<tr>
					<td>%{settings.tokens.authorAgo.label}%<br />%{settings.tokens.authorAgo.description}%</td>
					<td><span class="token" data-token="authorAgo">authorAgo</span></td>
				</tr>
				<tr>
					<td>%{settings.tokens.authorDate.label}%<br />%{settings.tokens.authorDate.description}%</td>
					<td><span class="token" data-token="authorDate">authorDate</span></td>
				</tr>
				<tr>
					<td>%{settings.tokens.authorAgoOrDate.label}%<br />%{settings.tokens.authorAgoOrDate.description}%
					</td>
					<td><span class="token" data-token="authorAgoOrDate">authorAgoOrDate</span></td>
				</tr>
				<tr>
					<td>%{settings.tokens.authorAgoOrDateShort.label}%<br />%{settings.tokens.authorAgoOrDateShort.description}%
					</td>
					<td><span class="token" data-token="authorAgoOrDateShort">authorAgoOrDateShort</span></td>
				</tr>
				<tr>
					<td>%{settings.tokens.committerAgo.label}%<br />%{settings.tokens.committerAgo.description}%</td>
					<td><span class="token" data-token="committerAgo">committerAgo</span></td>
				</tr>
				<tr>
					<td>%{settings.tokens.committerDate.label}%<br />%{settings.tokens.committerDate.description}%</td>
					<td><span class="token" data-token="committerDate">committerDate</span></td>
				</tr>
				<tr>
					<td>%{settings.tokens.committerAgoOrDate.label}%<br />%{settings.tokens.committerAgoOrDate.description}%
					</td>
					<td><span class="token" data-token="committerAgoOrDate">committerAgoOrDate</span></td>
				</tr>
				<tr>
					<td>%{settings.tokens.committerAgoOrDateShort.label}%<br />%{settings.tokens.committerAgoOrDateShort.description}%
					</td>
					<td><span class="token" data-token="committerAgoOrDateShort">committerAgoOrDateShort</span></td>
				</tr>
				<tr>
					<td>%{settings.tokens.tips.label}%<br />%{settings.tokens.tips.description}%</td>
					<td><span class="token" data-token="tips">tips</span></td>
				</tr>
				<tr>
					<td>
						%{settings.tokens.changes.label}%<br />%{settings.tokens.changes.description}%
					</td>
					<td><span class="token" data-token="changes">changes</span></td>
				</tr>
				<tr>
					<td>
						%{settings.tokens.changesShort.label}%<br />%{settings.tokens.changesShort.description}%
					</td>
					<td><span class="token" data-token="changesShort">changesShort</span></td>
				</tr>
				<tr>
					<td>%{settings.tokens.pullRequest.label}%<br />%{settings.tokens.pullRequest.description}%</td>
					<td><span class="token" data-token="pullRequest">pullRequest</span></td>
				</tr>
				<tr>
					<td>
						%{settings.tokens.pullRequestState.label}%<br />%{settings.tokens.pullRequestState.description}%
					</td>
					<td><span class="token" data-token="pullRequestState">pullRequestState</span></td>
				</tr>
				<!-- <tr>
						<td>Author Avatar</td>
						<td><span class="token" data-token="avatar">avatar</span></td>
					</tr> -->
				<!-- <tr>
						<td>
							Commands<br /><i>Set of commit command buttons<br />only valid in hovers</i>
						</td>
						<td><span class="token" data-token="commands">commands</span></td>
					</tr> -->
			</tbody>
		</table>
	</div>
	<span class="token-popup__hint">
		<i class="icon icon__info"></i>
		<a href="https://github.com/gitkraken/vscode-gitlens/wiki/Custom-Formatting"
			title="Open formatting docs">%{settings.tokens.learnMore}%</a>
		%{settings.tokens.aboutFormatting}%
	</span>
</template>

</html>
