<section id="blame" class="section--settings section--collapsible">
	<div class="section__header">
		<h2>
			%{settings.blame.title}%
			<a class="link__learn-more" title="Learn more"
				href="https://github.com/gitkraken/vscode-gitlens/#gutter-blame-">
				<i class="icon icon__info"></i>
			</a>
		</h2>

		<p class="section__header-hint">%{settings.blame.hint}%</p>
		<div class="section__header-info">
			<i class="icon icon--md icon__bulb"></i>
			<div>
				<p>
					%{settings.blame.info.toggle}%
				</p>
				<p>%{settings.blame.info.esc}%</p>
			</div>
		</div>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<div class="setting">
					<div class="setting__input">
						<label for="blame.toggleMode">%{settings.blame.toggleMode.label}% </label>
						<div class="select-container">
							<select id="blame.toggleMode" name="blame.toggleMode" data-setting>
								<option value="file">%{settings.toggleMode.file}%</option>
								<option value="window">%{settings.toggleMode.window}%</option>
							</select>
						</div>
					</div>
				</div>

				<div class="setting">
					<div class="setting__input setting__input--format">
						<label for="blame.format">%{settings.blame.format.label}%</label>
						<input id="blame.format" name="blame.format" type="text"
							placeholder="${message|50?} ${agoOrDate|14-}" data-setting data-setting-preview
							data-default-value="${message|50?} ${agoOrDate|14-}" data-popup-trigger />
						<label for="blame.format" title="%{settings.views.formats.availableTokens}%">
							<i class="icon icon__chevron-down"></i>
						</label>
					</div>
					<div id="blame.format.popup" class="popup hidden"></div>
					<span class="setting__hint">%{settings.statusBar.format.example}%
						<span data-setting-preview="blame.format" data-setting-preview-type="commit"
							data-setting-preview-default="${message|50?} ${agoOrDate|14-}"></span>
					</span>
				</div>

				<div class="setting">
					<div class="setting__input">
						<input id="blame.heatmap.enabled" name="blame.heatmap.enabled" type="checkbox" data-setting />
						<label for="blame.heatmap.enabled">
							%{settings.blame.heatmap.enabled.label}%
						</label>
					</div>
					<p class="setting__hint">
						%{settings.blame.heatmap.hint}%
					</p>
				</div>

				<div class="settings settings--fixed ml-2">
					<div class="setting" data-enablement="blame.heatmap.enabled" disabled>
						<div class="setting__input">
							<label for="blame.heatmap.location">%{settings.blame.heatmap.location.label}%</label>
							<div class="select-container">
								<select id="blame.heatmap.location" name="blame.heatmap.location" data-setting disabled>
									<option value="left">%{settings.alignment.left}%</option>
									<option value="right">%{settings.alignment.right}%</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="setting">
					<div class="setting__input">
						<input id="blame.avatars" name="blame.avatars" type="checkbox" data-setting />
						<label for="blame.avatars">%{settings.blame.avatars.label}%</label>
					</div>
				</div>

				<div class="setting">
					<div class="setting__input">
						<input id="blame.compact" name="blame.compact" type="checkbox" data-setting />
						<label for="blame.compact">%{settings.blame.compact.label}%</label>
					</div>
					<p class="setting__hint">%{settings.blame.compact.hint}%</p>
				</div>

				<div class="setting">
					<div class="setting__input">
						<input id="blame.highlight.enabled" name="blame.highlight.enabled" type="checkbox"
							data-setting />
						<label for="blame.highlight.enabled">
							%{settings.blame.highlight.enabled.label}%
						</label>
					</div>
				</div>

				<div class="settings ml-2">
					<div class="setting" data-enablement="blame.highlight.enabled">
						<div class="setting__input">
							<input id="blame.highlight.locations" name="blame.highlight.locations" type="checkbox"
								value="gutter" data-setting data-setting-type="array" disabled />
							<label for="blame.highlight.locations">%{settings.blame.highlight.locations.gutter}%</label>
						</div>
					</div>

					<div class="setting" data-enablement="blame.highlight.enabled">
						<div class="setting__input">
							<input id="blame.highlight.locations-1" name="blame.highlight.locations" type="checkbox"
								value="line" data-setting data-setting-type="array" disabled />
							<label for="blame.highlight.locations-1">%{settings.blame.highlight.locations.line}%</label>
						</div>
					</div>

					<div class="setting" data-enablement="blame.highlight.enabled">
						<div class="setting__input">
							<input id="blame.highlight.locations-2" name="blame.highlight.locations" type="checkbox"
								value="overview" data-setting data-setting-type="array" disabled />
							<label
								for="blame.highlight.locations-2">%{settings.blame.highlight.locations.overview}%</label>
						</div>
					</div>
				</div>
			</div>

			<div class="section__preview">
				<img class="image__preview hidden" src="#{webroot}/media/blame.png"
					data-visibility="blame.compact =false" loading="lazy" />
				<img class="image__preview--overlay hidden" src="#{webroot}/media/blame-highlight.png"
					data-visibility="blame.compact =false &amp; blame.highlight.enabled &amp; blame.highlight.locations +line"
					loading="lazy" />
				<img class="image__preview hidden" src="#{webroot}/media/blame-compact.png"
					data-visibility="blame.compact" loading="lazy" />
				<img class="image__preview--overlay hidden" src="#{webroot}/media/blame-compact-highlight.png"
					data-visibility="blame.compact &amp; blame.highlight.enabled &amp; blame.highlight.locations +line"
					loading="lazy" />
				<img class="image__preview--overlay hidden" src="#{webroot}/media/blame-highlight-gutter.png"
					data-visibility="blame.highlight.enabled &amp; blame.highlight.locations +gutter" loading="lazy" />
				<img class="image__preview--overlay hidden" src="#{webroot}/media/blame-highlight-scrollbar.png"
					data-visibility="blame.highlight.enabled &amp; blame.highlight.locations +overview"
					loading="lazy" />
				<img class="image__preview--overlay hidden" src="#{webroot}/media/blame-heatmap-left.png"
					data-visibility="blame.heatmap.enabled &amp; blame.heatmap.location =left" loading="lazy" />
				<img class="image__preview--overlay hidden" src="#{webroot}/media/blame-heatmap-right.png"
					data-visibility="blame.heatmap.enabled &amp; blame.heatmap.location =right" loading="lazy" />
			</div>
		</div>

		<div class="section__group">
			<p class="section__hint">
				<i class="icon icon__info"></i> %{settings.common.moreOptions.open}%
				<a class="command" title="Open Settings"
					href="command:workbench.action.openSettings?%22gitlens.blame%22">%{settings.common.settings}%</a>
				%{settings.common.moreOptions.search}% <b><i>gitlens.blame</i></b>
			</p>
		</div>
	</div>
</section>
