<section id="code-lens" class="section--settings section--collapsible">
	<div class="section__header">
		<div class="setting__input setting__input--big">
			<input id="codeLens.enabled" name="codeLens.enabled" type="checkbox" data-setting />
			<label for="codeLens.enabled">%{settings.codeLens.label}%</label>
			<a class="link__learn-more" title="Learn more"
				href="https://github.com/gitkraken/vscode-gitlens/#git-codelens-">
				<i class="icon icon__info"></i>
			</a>
		</div>

		<p class="section__header-hint">%{settings.codeLens.hint}%</p>
		<div class="section__header-info">
			<i class="icon icon__bulb"></i>
			<div>
				<p>
					%{settings.codeLens.header.info}%
				</p>
			</div>
		</div>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<div class="settings settings--fixed ml-1">
					<div class="setting" data-enablement="codeLens.enabled">
						<div class="setting__input">
							<input id="codeLens.recentChange.enabled" name="codeLens.recentChange.enabled"
								type="checkbox" data-setting disabled />
							<label for="codeLens.recentChange.enabled">
								%{settings.codeLens.recentChange.label}%
							</label>
						</div>
					</div>

					<div class="settings settings--fixed ml-2">
						<div class="setting" data-enablement="codeLens.enabled &amp; codeLens.recentChange.enabled">
							<div class="setting__input">
								<input id="codeLens.recentChange.command" name="codeLens.recentChange.command"
									type="checkbox" value="gitlens.showQuickCommitFileDetails" data-setting disabled />
								<label class="nowrap"
									for="codeLens.recentChange.command">%{settings.codeLens.whenClicked}%</label>
								<div class="select-container">
									<select id="codeLens.recentChange.command" name="codeLens.recentChange.command"
										data-setting
										data-enablement="codeLens.enabled &amp; codeLens.recentChange.enabled &amp; codeLens.recentChange.command !false"
										disabled>
										<option value="gitlens.toggleFileBlame">%{settings.command.toggleFileBlame}%
										</option>
										<option value="gitlens.toggleFileHeatmap">%{settings.command.toggleFileHeatmap}%
										</option>
										<option value="gitlens.toggleFileChanges">
											%{settings.command.toggleFileChanges}%
										</option>
										<option value="gitlens.toggleFileChangesOnly">
											%{settings.command.toggleFileChangesOnly}%
										</option>
										<option value="gitlens.diffWithPrevious">
											%{settings.command.diffWithPrevious}%
										</option>
										<option value="gitlens.revealCommitInView">
											%{settings.command.revealCommitInView}%
										</option>
										<option value="gitlens.showCommitsInView">%{settings.command.showCommitsInView}%
										</option>
										<option value="gitlens.showQuickCommitDetails">
											%{settings.command.showQuickCommitDetails}%
										</option>
										<option value="gitlens.showQuickCommitFileDetails">
											%{settings.command.showQuickCommitFileDetails}%
										</option>
										<option value="gitlens.showQuickFileHistory">
											%{settings.command.showQuickFileHistory}%
										</option>
										<option value="gitlens.showQuickRepoHistory">
											%{settings.command.showQuickRepoHistory}%
										</option>
										<option value="gitlens.openCommitOnRemote">
											%{settings.command.openCommitOnRemote}%
										</option>
										<option value="gitlens.copyRemoteCommitUrl">
											%{settings.command.copyRemoteCommitUrl}%
										</option>
										<option value="gitlens.openFileOnRemote">
											%{settings.command.openFileOnRemote}%
										</option>
										<option value="gitlens.copyRemoteFileUrl">
											%{settings.command.copyRemoteFileUrl}%
										</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="setting" data-enablement="codeLens.enabled">
						<div class="setting__input">
							<input id="codeLens.authors.enabled" name="codeLens.authors.enabled" type="checkbox"
								data-setting disabled />
							<label for="codeLens.authors.enabled">
								%{settings.codeLens.authors.label}%
							</label>
						</div>
					</div>

					<div class="settings settings--fixed ml-2">
						<div class="setting" data-enablement="codeLens.enabled &amp; codeLens.authors.enabled">
							<div class="setting__input">
								<input id="codeLens.authors.command" name="codeLens.authors.command" type="checkbox"
									value="gitlens.toggleFileBlame" data-setting disabled />
								<label class="nowrap"
									for="codeLens.authors.command">%{settings.codeLens.whenClicked}%</label>
								<div class="select-container">
									<select id="codeLens.authors.command" name="codeLens.authors.command" data-setting
										data-enablement="codeLens.enabled &amp; codeLens.authors.enabled &amp; codeLens.authors.command !false"
										disabled>
										<option value="gitlens.toggleFileBlame">%{settings.command.toggleFileBlame}%
										</option>
										<option value="gitlens.toggleFileHeatmap">%{settings.command.toggleFileHeatmap}%
										</option>
										<option value="gitlens.toggleFileChanges">
											%{settings.command.toggleFileChanges}%
										</option>
										<option value="gitlens.toggleFileChangesOnly">
											%{settings.command.toggleFileChangesOnly}%
										</option>
										<option value="gitlens.diffWithPrevious">
											%{settings.command.diffWithPrevious}%
										</option>
										<option value="gitlens.revealCommitInView">
											%{settings.command.revealCommitInView}%
										</option>
										<option value="gitlens.showCommitsInView">
											%{settings.command.showCommitsInView}%
										</option>
										<option value="gitlens.showQuickCommitDetails">
											%{settings.command.showQuickCommitDetails}%
										</option>
										<option value="gitlens.showQuickCommitFileDetails">
											%{settings.command.showQuickCommitFileDetails}%
										</option>
										<option value="gitlens.showQuickFileHistory">
											%{settings.command.showQuickFileHistory}%
										</option>
										<option value="gitlens.showQuickRepoHistory">
											%{settings.command.showQuickRepoHistory}%
										</option>
										<option value="gitlens.openCommitOnRemote">
											%{settings.command.openCommitOnRemote}%
										</option>
										<option value="gitlens.copyRemoteCommitUrl">
											%{settings.command.copyRemoteCommitUrl}%
										</option>
										<option value="gitlens.copyRemoteFileUrl">
											%{settings.command.copyRemoteFileUrl}%
										</option>
										<option value="gitlens.openFileOnRemote">
											%{settings.command.openFileOnRemote}%
										</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="setting" data-enablement="codeLens.enabled">
						<div class="setting__input">
							<label class="non-interactive">%{settings.codeLens.scopes.label}%</label>
						</div>
					</div>

					<div class="settings ml-2">
						<div class="setting" data-enablement="codeLens.enabled">
							<div class="setting__input">
								<input id="codeLens.scopes" name="codeLens.scopes" type="checkbox" value="document"
									data-setting data-setting-type="array" disabled />
								<label for="codeLens.scopes">%{settings.codeLens.scopes.file.label}%</label>
							</div>
							<p class="setting__hint">%{settings.codeLens.scopes.file.hint}%</p>
						</div>

						<div class="setting" data-enablement="codeLens.enabled">
							<div class="setting__input">
								<input id="codeLens.scopes-1" name="codeLens.scopes" type="checkbox" value="containers"
									data-setting data-setting-type="array" disabled />
								<label for="codeLens.scopes-1">%{settings.codeLens.scopes.containers.label}%</label>
							</div>
							<p class="setting__hint">%{settings.codeLens.scopes.containers.hint}%</p>
						</div>

						<div class="setting" data-enablement="codeLens.enabled">
							<div class="setting__input">
								<input id="codeLens.scopes-2" name="codeLens.scopes" type="checkbox" value="blocks"
									data-setting data-setting-type="array" disabled />
								<label for="codeLens.scopes-2">%{settings.codeLens.scopes.blocks.label}%</label>
							</div>
							<p class="setting__hint">%{settings.codeLens.scopes.blocks.hint}%</p>
						</div>
					</div>
				</div>
			</div>

			<div class="section__preview">
				<img class="image__preview" src="#{webroot}/media/code-lens.png" loading="lazy" />
				<img class="image__preview--overlay hidden" src="#{webroot}/media/code-lens-file-recent+authors.png"
					data-visibility="codeLens.enabled &amp; codeLens.recentChange.enabled &amp; codeLens.authors.enabled &amp; codeLens.scopes +document"
					loading="lazy" />
				<img class="image__preview--overlay hidden" src="#{webroot}/media/code-lens-file-recent.png"
					data-visibility="codeLens.enabled &amp; codeLens.recentChange.enabled &amp; codeLens.authors.enabled =false &amp; codeLens.scopes +document"
					loading="lazy" />
				<img class="image__preview--overlay hidden" src="#{webroot}/media/code-lens-file-authors.png"
					data-visibility="codeLens.enabled &amp; codeLens.recentChange.enabled =false &amp; codeLens.authors.enabled &amp; codeLens.scopes +document"
					loading="lazy" />

				<img class="image__preview--overlay hidden"
					src="#{webroot}/media/code-lens-containers-recent+authors.png"
					data-visibility="codeLens.enabled &amp; codeLens.recentChange.enabled &amp; codeLens.authors.enabled &amp; codeLens.scopes +containers"
					loading="lazy" />
				<img class="image__preview--overlay hidden" src="#{webroot}/media/code-lens-containers-recent.png"
					data-visibility="codeLens.enabled &amp; codeLens.recentChange.enabled &amp; codeLens.authors.enabled =false &amp; codeLens.scopes +containers"
					loading="lazy" />
				<img class="image__preview--overlay hidden" src="#{webroot}/media/code-lens-containers-authors.png"
					data-visibility="codeLens.enabled &amp; codeLens.recentChange.enabled =false &amp; codeLens.authors.enabled &amp; codeLens.scopes +containers"
					loading="lazy" />

				<img class="image__preview--overlay hidden" src="#{webroot}/media/code-lens-blocks-recent+authors.png"
					data-visibility="codeLens.enabled &amp; codeLens.recentChange.enabled &amp; codeLens.authors.enabled &amp; codeLens.scopes +blocks"
					loading="lazy" />
				<img class="image__preview--overlay hidden" src="#{webroot}/media/code-lens-blocks-recent.png"
					data-visibility="codeLens.enabled &amp; codeLens.recentChange.enabled &amp; codeLens.authors.enabled =false &amp; codeLens.scopes +blocks"
					loading="lazy" />
				<img class="image__preview--overlay hidden" src="#{webroot}/media/code-lens-blocks-authors.png"
					data-visibility="codeLens.enabled &amp; codeLens.recentChange.enabled =false &amp; codeLens.authors.enabled &amp; codeLens.scopes +blocks"
					loading="lazy" />
			</div>
		</div>

		<div class="section__group">
			<p class="section__hint">
				<i class="icon icon__info"></i> %{settings.common.moreOptions.open}%
				<a class="command" title="Open Settings"
					href="command:workbench.action.openSettings?%22gitlens.codeLens%22">%{settings.common.settings}%</a>
				%{settings.common.moreOptions.search}% <b><i>gitlens.codeLens</i></b>
			</p>
		</div>
	</div>
</section>
