<section id="dates" class="section--settings section--collapsible">
	<div class="section__header">
		<h2>%{settings.dates.title}%</h2>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<div class="setting">
					<div class="setting__input">
						<input id="defaultDateStyle" name="defaultDateStyle" type="checkbox" value="relative"
							data-value-off="absolute" data-setting />
						<label for="defaultDateStyle">%{settings.dates.defaultDateStyle.label}%</label>
					</div>
					<span class="setting__hint hidden"
						data-visibility="defaultDateStyle =relative">%{settings.dates.defaultDateStyle.hint.relative}%</span>
					<span class="setting__hint hidden"
						data-visibility="defaultDateStyle =absolute">%{settings.dates.defaultDateStyle.hint.absolute}%
						<span data-setting-preview="defaultDateFormat" data-setting-preview-type="date"
							data-setting-preview-default="MMMM Do, YYYY h:mma"></span>
					</span>
				</div>

				<div class="settings">
					<div class="setting">
						<div class="setting__input">
							<label for="defaultDateLocale">%{settings.dates.defaultDateLocale.label}%</label>
							<input id="defaultDateLocale" name="defaultDateLocale" type="text"
								placeholder="%{settings.dates.defaultDateLocale.placeholder}%" data-setting
								data-setting-preview />
							<a class="link__learn-more" title="%{settings.dates.defaultDateLocale.learnMore.title}%"
								href="https://en.wikipedia.org/wiki/IETF_language_tag#List_of_major_primary_language_subtags">
								<i class="icon icon__info">%{settings.dates.defaultDateLocale.info}%</i>
							</a>
						</div>
						<span class="setting__hint">
							<span style="line-height: 2rem">
								<i class="icon icon--sm icon__info"></i> %{settings.dates.defaultDateLocale.hint}%
							</span>
							<br />
							%{settings.dates.format.example}%
							<span data-setting-preview="defaultDateLocale" data-setting-preview-type="date-locale"
								data-setting-preview-default="defaultDateFormat"></span>
						</span>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="defaultDateFormat">%{settings.dates.defaultDateFormat.label}%</label>
							<input id="defaultDateFormat" name="defaultDateFormat" type="text"
								placeholder="%{settings.dates.defaultDateFormat.placeholder}%" data-setting
								data-setting-preview />
							<a class="link__learn-more" title="%{settings.dates.learnMore.format.title}%"
								href="https://momentjs.com/docs/#/displaying/format/">
								<i class="icon icon__info"></i>
							</a>
						</div>
						<span class="setting__hint">%{settings.dates.format.example}%
							<span data-setting-preview="defaultDateFormat" data-setting-preview-type="date"
								data-setting-preview-default="MMMM Do, YYYY h:mma"></span>
						</span>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="defaultDateShortFormat">%{settings.dates.defaultDateShortFormat.label}%</label>
							<input id="defaultDateShortFormat" name="defaultDateShortFormat" type="text"
								placeholder="%{settings.dates.defaultDateShortFormat.placeholder}%" data-setting
								data-setting-preview />
							<a class="link__learn-more" title="%{settings.dates.learnMore.format.title}%"
								href="https://momentjs.com/docs/#/displaying/format/">
								<i class="icon icon__info"></i>
							</a>
						</div>
						<span class="setting__hint">%{settings.dates.defaultDateShortFormat.hint}%
							<span data-setting-preview="defaultDateShortFormat" data-setting-preview-type="date"
								data-setting-preview-default="MMM D, YYYY"></span>
						</span>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="defaultTimeFormat">%{settings.dates.defaultTimeFormat.label}%</label>
							<input id="defaultTimeFormat" name="defaultTimeFormat" type="text"
								placeholder="%{settings.dates.defaultTimeFormat.placeholder}%" data-setting
								data-setting-preview />
							<a class="link__learn-more" title="%{settings.dates.learnMore.format.title}%"
								href="https://momentjs.com/docs/#/displaying/format/">
								<i class="icon icon__info"></i>
							</a>
						</div>
						<span class="setting__hint">%{settings.dates.format.example}%
							<span data-setting-preview="defaultTimeFormat" data-setting-preview-type="date"
								data-setting-preview-default="h:mma"></span>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="section__group">
			<p class="section__hint">
				<i class="icon icon__info"></i> %{settings.common.moreOptions.open}%
				<a class="command" title="Open Settings"
					href="command:workbench.action.openSettings?%22gitlens.default%22">%{settings.common.settings}%</a>
				%{settings.common.moreOptions.search}% <b><i>gitlens.default</i></b>
			</p>
		</div>
	</div>
</section>