<section id="repositories-view" class="section--settings section--collapsible">
	<div class="section__header">
		<h2>
			%{settings.views.repositories.label}%
			<a class="link__learn-more" title="Learn more"
				href="https://github.com/gitkraken/vscode-gitlens/#repositories-view-">
				<i class="icon icon__info"></i>
			</a>
		</h2>

		<p class="section__header-hint">%{settings.views.repositories.hint}%</p>
	</div>

	<div class="section__collapsible">
		<div class="section__group">
			<div class="section__content">
				<div class="settings settings--fixed ml-1">
					<div class="setting">
						<div class="setting__input">
							<label class="non-interactive">%{settings.views.repositories.sections.label}%</label>
						</div>
					</div>

					<div class="settings ml-2">
						<div class="setting">
							<div class="setting__input setting__input--inner-select">
								<input id="views.repositories.showBranchComparison"
									name="views.repositories.showBranchComparison" type="checkbox" value="working"
									data-setting />
								<label
									for="views.repositories.showBranchComparison">%{settings.views.repositories.showBranchComparison.label}%</label>
								<div class="select-container">
									<select id="views.repositories.showBranchComparison"
										name="views.repositories.showBranchComparison" data-setting
										data-enablement="views.repositories.showBranchComparison !false">
										<option value="branch">
											%{settings.views.commits.showBranchComparison.check.branch}%</option>
										<option value="working">
											%{settings.views.commits.showBranchComparison.check.working}%</option>
									</select>
								</div>
								<label
									for="views.repositories.showBranchComparison">%{settings.views.commits.showBranchComparison.suffix}%
								</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input id="views.repositories.showUpstreamStatus"
									name="views.repositories.showUpstreamStatus" type="checkbox" data-setting />
								<label
									for="views.repositories.showUpstreamStatus">%{settings.views.repositories.showUpstreamStatus.label}%</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input id="views.repositories.includeWorkingTree"
									name="views.repositories.includeWorkingTree" type="checkbox" data-setting />
								<label
									for="views.repositories.includeWorkingTree">%{settings.views.repositories.includeWorkingTree.label}%</label>
							</div>
						</div>

						<div class="section__group">
							<div class="section__content">
								<div class="settings settings--fixed">
									<div class="setting">
										<div class="setting__input">
											<input id="views.repositories.pullRequests.enabled"
												name="views.repositories.pullRequests.enabled" type="checkbox"
												data-setting />
											<label
												for="views.repositories.pullRequests.enabled">%{settings.views.repositories.pullRequests.enabled.label}%</label>
										</div>
										<p class="setting__hint">
											%{settings.views.commits.pullRequests.enabled.hint}%
										</p>
									</div>

									<div class="settings settings--fixed ml-2">
										<div class="setting" data-enablement="views.repositories.pullRequests.enabled">
											<div class="setting__input">
												<input id="views.repositories.pullRequests.showForBranches"
													name="views.repositories.pullRequests.showForBranches"
													type="checkbox" data-setting disabled />
												<label
													for="views.repositories.pullRequests.showForBranches">%{settings.views.repositories.pullRequests.showForBranches.label}%</label>
											</div>
										</div>

										<div class="setting" data-enablement="views.repositories.pullRequests.enabled">
											<div class="setting__input">
												<input id="views.repositories.pullRequests.showForCommits"
													name="views.repositories.pullRequests.showForCommits"
													type="checkbox" data-setting disabled />
												<label
													for="views.repositories.pullRequests.showForCommits">%{settings.views.repositories.pullRequests.showForCommits.label}%</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input id="views.repositories.showCommits" name="views.repositories.showCommits"
									type="checkbox" data-setting />
								<label
									for="views.repositories.showCommits">%{settings.views.repositories.showCommits.label}%</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input id="views.repositories.showBranches" name="views.repositories.showBranches"
									type="checkbox" data-setting />
								<label
									for="views.repositories.showBranches">%{settings.views.repositories.showBranches.label}%</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input id="views.repositories.showRemotes" name="views.repositories.showRemotes"
									type="checkbox" data-setting />
								<label
									for="views.repositories.showRemotes">%{settings.views.repositories.showRemotes.label}%</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input id="views.repositories.showStashes" name="views.repositories.showStashes"
									type="checkbox" data-setting />
								<label
									for="views.repositories.showStashes">%{settings.views.repositories.showStashes.label}%</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input id="views.repositories.showTags" name="views.repositories.showTags"
									type="checkbox" data-setting />
								<label
									for="views.repositories.showTags">%{settings.views.repositories.showTags.label}%</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input id="views.repositories.showContributors"
									name="views.repositories.showContributors" type="checkbox" data-setting />
								<label
									for="views.repositories.showContributors">%{settings.views.repositories.showContributors.label}%</label>
							</div>
						</div>

						<div class="setting">
							<div class="setting__input">
								<input id="views.repositories.showIncomingActivity"
									name="views.repositories.showIncomingActivity" type="checkbox" data-setting />
								<label
									for="views.repositories.showIncomingActivity">%{settings.views.repositories.showIncomingActivity.label}%</label>
							</div>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input id="views.repositories.autoRefresh" name="views.repositories.autoRefresh"
								type="checkbox" data-setting />
							<label
								for="views.repositories.autoRefresh">%{settings.views.repositories.autoRefresh.label}%</label>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input id="views.repositories.autoReveal" name="views.repositories.autoReveal"
								type="checkbox" data-setting />
							<label
								for="views.repositories.autoReveal">%{settings.views.repositories.autoReveal.label}%</label>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input id="views.repositories.avatars" name="views.repositories.avatars" type="checkbox"
								data-setting />
							<label for="views.repositories.avatars">%{settings.views.common.avatars.label}%</label>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label
								for="views.repositories.branches.layout">%{settings.views.common.branches.layout.label}%</label>
							<div class="select-container">
								<select id="views.repositories.branches.layout"
									name="views.repositories.branches.layout" data-setting>
									<option value="list">%{settings.views.common.files.layout.list}%</option>
									<option value="tree">%{settings.views.common.files.layout.tree}%</option>
								</select>
							</div>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label
								for="views.repositories.files.layout">%{settings.views.common.files.layout.label}%</label>
							<div class="select-container">
								<select id="views.repositories.files.layout" name="views.repositories.files.layout"
									data-setting>
									<option value="auto">%{settings.views.common.files.layout.auto}%</option>
									<option value="list">%{settings.views.common.files.layout.list}%</option>
									<option value="tree">%{settings.views.common.files.layout.tree}%</option>
								</select>
							</div>
						</div>
						<p class="setting__hint" data-visibility="views.repositories.files.layout =auto">
							%{settings.views.common.files.layout.auto.hint}%
						</p>
					</div>

					<div class="setting">
						<div class="setting__input">
							<input id="views.repositories.files.compact" name="views.repositories.files.compact"
								type="checkbox" data-setting />
							<label
								for="views.repositories.files.compact">%{settings.views.common.files.compact.label}%</label>
						</div>
						<p class="setting__hint">%{settings.views.common.files.compact.hint}%</p>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="sortBranchesBy">%{settings.views.repositories.sortBranches.label}%</label>
							<div class="select-container">
								<select id="sortBranchesBy" name="sortBranchesBy" data-setting>
									<option value="date:desc">%{settings.views.common.sort.date.desc}%</option>
									<option value="date:asc">%{settings.views.common.sort.date.asc}%</option>
									<option value="name:asc">%{settings.views.common.sort.name.asc}%</option>
									<option value="name:desc">%{settings.views.common.sort.name.desc}%</option>
								</select>
							</div>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label
								for="sortContributorsBy">%{settings.views.repositories.sortContributors.label}%</label>
							<div class="select-container">
								<select id="sortContributorsBy" name="sortContributorsBy" data-setting>
									<option value="count:desc">%{settings.views.common.sort.count.desc}%</option>
									<option value="count:asc">%{settings.views.common.sort.count.asc}%</option>
									<option value="date:desc">%{settings.views.common.sort.date.desc}%</option>
									<option value="date:asc">%{settings.views.common.sort.date.asc}%</option>
									<option value="name:asc">%{settings.views.common.sort.name.asc}%</option>
									<option value="name:desc">%{settings.views.common.sort.name.desc}%</option>
								</select>
							</div>
						</div>
					</div>

					<div class="setting">
						<div class="setting__input">
							<label for="sortTagsBy">%{settings.views.repositories.sortTags.label}%</label>
							<div class="select-container">
								<select id="sortTagsBy" name="sortTagsBy" data-setting>
									<option value="date:desc">%{settings.views.common.sort.date.desc}%</option>
									<option value="date:asc">%{settings.views.common.sort.date.asc}%</option>
									<option value="name:asc">%{settings.views.common.sort.name.asc}%</option>
									<option value="name:desc">%{settings.views.common.sort.name.desc}%</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="section__preview">
				<img class="image__preview" src="#{webroot}/media/repositories-view.webp" loading="lazy" />
			</div>
		</div>

		<div class="section__group">
			<p class="section__hint">
				<i class="icon icon__info"></i> %{settings.common.moreOptions.open}%
				<a class="command" title="Open Settings"
					href="command:workbench.action.openSettings?%22gitlens.views.repositories%22">%{settings.common.settings}%</a>
				%{settings.common.moreOptions.search}% <b><i>gitlens.views.repositories</i></b>
				%{settings.common.moreOptions.or}%
				<b><i>gitlens.views</i></b>
			</p>
		</div>
	</div>
</section>